<main>
    <div class="container">
        <div class="row">
            <div class="col-md-8 card">
                <h1 class="text-center text-uppercase">Horizon Ingénieurs</h1>
                <p class="text-center">Ceci est le site de Horizon Ingénieurs</p>
            </div>
        </div>
    </div>
</main>