<main class="index">
    <div class="container">
        <div class="row">
            <% @projects.each do |project| %>
                <div class="card col-md-8">
                    <%= image_tag project.company.picture, size: "96x96" %>
                    <div class="infos">
                        <h2><%= project.name %></h2>
                        <h4><%= project.fields %></h4>
                    </div>
                    <div class="bottom-right">
                        <%= link_to "Learn more", project_path(project), class: "btn" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</main>