/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require bootstrap-glyphicons
 *= require_tree .
 *= require_self
 */

html, body {
    background-color: #bbb;
    color: #000;
}

a:hover, a:active, a:focus, button:active, button:focus, input:focus, input:active, .form-control:focus, .form-control:active {
    outline: none;
    box-shadow: none;
}

.row {
    margin: 0 auto;
}

.container {
    float: none;
    margin: 0 auto;
}

/* Buttons */

a, .btn, .btn:active {
    outline: none;
    border: none;
    color: #fff;
}

.btn, .btn:focus, .nav > li > a:focus, .dropdown-menu > li > a:focus, .nav .open > a, .nav .open > a:focus {
    background-color: #000;
    color: #fff;
    font-size: 20px;
    border-radius: 0;
    margin: 0;
    text-align: left;
    box-shadow: 0px 0px 0px #fff;
}

.btn:hover, .nav > li > a:hover, .nav .open > a:hover, .dropdown-menu > li > a:hover {
    background-color: #fff;
    color: #000;
    transition: 500ms;
    box-shadow: 0 2px 2px #333;
}

.card .btn {
    border: 1px solid #000;
}

.card .row .btn {
    margin-right: 10px;
    margin-top: 10px;
}

/* end of buttons */

/* Buttons floating in the page */

.btn-page, .btn-page:hover, .btn-page:active, .btn-page:focus {
    clear: both;
    margin-right: 20px;
    margin-top: 20px;
}

.btn-page-middle, .btn-page-middle:hover, .btn-page-middle:active, .btn-page-middle:focus {
    margin-top: 0px;
}

/* end of floating buttons

/* Navbar */

nav.navbar {
    background-color: #000;
    color: #fff;
    border-radius: 0;
    border: none;
}

.navbar-collapse {
    padding: 0;
}

.navbar-collapse.in {
    border-bottom: 1px solid #000;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
    padding: 2px;
    padding-right: 10px;
    margin: 0;
    color: #000;
    background-color: #fff;
    border-right: 50px solid #000;
    box-shadow: -50px 2px 2px #bbb;
}

.navbar-brand:hover {
    box-shadow: -50px 2px 2px #333;
    transition: 500ms;
}

.navbar-brand img, .navbar-brand h1 {
    display: inline;
    font-size: 1.5rem;
}

nav .icon-bar {
    background-color: #fff;
}

nav ul.navbar-nav {
    padding: 0;
    margin: 0;
}

    /* The triangle */
.btn .glyphicon {
    margin-left: 3px;
    font-size: 0.75em;
}

nav .container-fluid {
    padding-right: 1px;
}

nav ul.dropdown-menu {
    padding: 0;
    background-color: #000;
    color: #fff;
    border: none;
}

nav ul.dropdown-menu a {
    padding: 15px;
    color: #fff;
}

/* end of navbar */

/* Cards */

.card {
    background-color: #fff;
    box-shadow: 5px 5px 5px #333;
    margin: 20px auto;
    padding: 20px;
    padding-left: 10px;
    border-left: 10px solid #fff;
    float: none;
}

.card img {
    border: 1px solid #000;
}

.card .infos {
    margin-left: 20px;
}

.card > div.infos {
    display: inline-block;
}

.card .bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.card .bottom-right .btn {
    border: 1px solid #000;
}

.card .top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.card h1:first-child, .card h2:first-child, .card h3:first-child {
    margin-top: 0;
    margin-bottom: 0;
}

/* end of Cards */

/* Cards markers : state of a project, nedd of attention, ... */

    /* Legend and profile text */

.legend .confirmed, .show .card span.confirmed {
    color: blue;
}

.legend .waiting, .show .card span.waiting {
    color: gold;
}

.legend .rejected {
    color: red;
}

.legend .working, .show .card .working, .legend .working, .legend .launched {
    color: green;
}

.legend .admin, .show .card .admin, .show .card .is-hidden, .legend .is-hidden {
    color: orangered;
}

.legend .finished {
    color: #333;
}

    /* Border */

.card.confirmed {
    border-left: 10px solid blue;
}

.card.waiting {
    border-left: 10px solid gold;
}

.card.rejected {
    border-left: 10px solid red;
}

.card.working, .card.project-created, .card.launched {
    border-left: 10px solid green;
}

.card.admin, .card.is-hidden {
    border-left: 10px solid orangered;
}

.card.finished {
    border-left: 10px solid #333;
}

/* end of Cards markers */

/* Index pages */

.index .card h2 {
    font-size: 2rem;
    font-weight: 700;
}

.index .card h4 {
    font-size: 2rem;
}

/* end of Index pages */

/* Form pages css : login, signup, create projects... */

.form-page .card {
    padding: 60px 50px;
}

.form-page .fields, .form-page .card h1, .form-page .card input.form-control, .form-page .card select, .form-page .card textarea, .form-page .card #company-hidden {
    margin: 0;
    margin-bottom: 40px;
}

.form-page .input-group, .form-page .input-group-addon {
    border-radius: 0;
    margin: 0;
    margin-bottom: 10px;
}

.form-page .input-group {
    border: 1px solid #ccc;
}

.form-page .input-group-addon {
    border: none;
}

.form-page .fields h3 {
    margin: 0 0 10px 0;
}

.form-page .input-group h4 {
    color: #555;
    margin-left: 10px;
}

.form-page input.form-control, .form-page input.form-control:active, .form-page select, .form-page select:active, .form-page textarea, .form-page textarea:active {
    border-radius: 0;
    font-size: 2rem;
    height: 50px;
    border: 1px solid #ccc;
    box-shadow: none;
    outline: none;
}

.form-page select {
    padding-left: 10px;
    padding-right: 10px;
}

.form-page input:focus {
    border: 1px solid #000;
}

.form-page .card h1, .form-page .card .btn {
    text-align: center;
}

.form-page .card input.btn {
    margin-bottom: 0;
    position: relative;
    right: unset;
    bottom: unset;
}

.form-page select {
    width: 100%;
}

.form-page .card #company-name {
    margin-bottom: 10px;
}

/* end of Form pages */

/* Show pages */

.show .card img {
    margin-bottom: 20px;
}

.show .card .col-right {
    margin-left: O;
    padding-left: 0;
    text-align: right;
    font-size: 3rem;
}

.show .card .head, .show .card .description {
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.show .card h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.show .card h4 {
    margin-top: 10px;
}

.show .card h1 {
    font-size: 4rem;
}

.show .card h3 {
    font-size: 2rem;
}

.show p {
    font-size: 2rem;
}

.show a.project_link {
    color: #000;
    text-decoration: none;
}

.show a.project_link:hover {
    color: #555;
    cursor: pointer;
    text-decoration: none;
}

/* end of Show pages */

/* legend */

.legend h2, table {
    font-size: 1.75rem;
}

/* end of legend */